@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
    font-family: 'Dongle', sans-serif;
    background: #f4f4f4 url('./assets/hand.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 600px;
    margin: 40px auto;
    background: pink;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

}

header {
    text-align: center;
}

.user-list {
    margin-top: 10px;
}

.user-btn {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    background: palevioletred;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.6);
}

.user-btn:hover {
    background: rgba(0, 0, 0, 0.747);
}

.user-btn.active {
    background: #333;
    color: #fff;
}

/* 버킷 폼 */
.bucket-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.bucket-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
}

.btn-add {
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
    background-color: chocolate;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-add:hover {
    background-color: rgb(136, 79, 22);
}

/* 리스트 전체 */
.bucket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empty-msg {
    text-align: center;
    color: #888;
    font-size: 22px;
}

/* 개별 항목 */
.bucket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.bucket-item input {
    flex: 1;
    padding: 8px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
}

/* 버튼 공통 */
.btn {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    color: #fff;
    font-family: 'Dongle', sans-serif;
}

.btns {
    display: flex;
    gap: 8px;
}

.btn-edit {
    background-color: darkcyan;
}

.btn-edit:hover {
    background-color: rgb(1, 109, 109);
}

.btn-delete {
    background-color: indianred;
}

.btn-delete:hover {
    background-color: rgb(153, 52, 52);
}

.btn-save {
    background-color: darkkhaki;
}

.btn-save:hover {
    background-color: rgb(90, 90, 1);
}

.btn-cancel {
    background-color: gray;
}

.btn-cancel:hover {
    background-color: #5a6268;
}